// Variables
$primary_color: white;
$secondary_color: black;
$component_color: rgb(13, 55, 240);

// Mixins
@mixin projectm_details {
  margin: 0 $mainsize;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 10px;
  width: 250px;
}

@mixin project_card {
  justify-content: center;
}

@mixin col_projects {
  .project1 {
    grid-area: card1;
    @include projects_details;
  }
  .project2 {
    grid-area: card2;
    @include projects_details;
  }
  .project3 {
    grid-area: card3;
    @include projects_details;
  }
  .project4 {
    grid-area: card4;
    @include projects_details;
  }
}

//css

@media (max-width: 450px) {
  html {
    font-size: small;
  }
  body {
    margin: 0 16px;
    font-size: 16px;
  }
  .nav {
    height: 56px;
  }

  .nav_left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: -3px 0 15px rgba(0, 0, 0, 0.35);
    width: 80%;
    height: 100vh;
    transition: 0.75s ease-out;
    margin-right: 0;
    z-index: 18;
  }
  .nav_left li {
    height: auto;
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    margin-top: 0px;
  }
  .nav_left a {
    color: black;
    padding: 10px;
  }
  a:hover {
    background-color: rgb(146, 146, 146);
    border-radius: 20px;
    cursor: pointer;
  }
  li:hover {
    cursor: pointer;
  }
  .logo {
    margin-left: 8px;
    font-size: medium;
  }

  .opening-button,
  .close-button {
    padding: 5px;
    display: block;
  }
  .Menu-ham:checked ~ .nav_left {
    right: 0%;
  }
  .Menu-ham:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
  }
  .hero .title {
    display: flex;
    align-items: center;
    padding: 18px;
    flex-direction: column-reverse;

    .title_section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 100%;
    }
    .skillset {
      display: flex;
      justify-content: center;
    }
    img {
      display: flex;
      justify-content: center;
      width: 60%;
      height: auto;
      padding: 8px;
      object-fit: cover;
      margin: 20px 8px;
    }
    h1 {
      justify-content: center;
      display: block;
    }
  }
  .About {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img.about_pics {
      width: 100%;
      height: auto;
      margin: 0px;
      object-fit: cover;
    }
    p {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    padding: 8px;

    h1 {
      // flex-direction: row;
      text-align: center;
      flex-wrap: nowrap;
    }
    p {
      padding: 18px;
    }
  }
  .projects_cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-column-gap: 10px;

    .project {
      @include projectm_details;

      img {
        width: 100%;
        max-width: 100%;
        height: 100px;
        border-radius: 10px;
        // object-fit: cover;
      }
      h3 {
        color: $component_color;
        padding-bottom: 16px;
      }
      .project_content {
        max-width: 100%;

        p {
          line-height: 1.5em;
          text-align: justify;
          padding-bottom: 24px;
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      max-height: 130px;
      border-radius: 10px;
    }
  }
  .socials {
    display: flex;
    flex-direction: column;

    a {
      font-size: 10px;
    }
    .copyright {
      p {
        font-size: 8px;
      }
    }
  }
}
